{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}


<style>
    .ui.card {
        border: 1px solid #e5e5e5;

        box-shadow: none;

        transition: all 0.3s ease;
    }

    .ui.card:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    }

    .ui.card .header {
        font-size: 16px;

        font-weight: bold;
        color: #333;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .ui.card .meta {
        color: #999;

    }

    .ui.card .description {
        color: #666;

    }

    .search-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px 0;
    }

    .search-bar .ui.icon.input {
        width: 300px;

    }

    .bottom-info {
        background-color: #a5a1a1;
        text-align: center;
        padding: 20px 0;
        color: white;
    }

    .bottom-info img {

        vertical-align: middle;
        margin-right: 5px;
    }

    .bottom-info img:first-child,
    .bottom-info img:last-child {
        max-width: 300px;

    }

    .bottom-info img:nth-child(2) {
        max-width: 80px;

    }
</style>
<div class="v-header-banner">

    <img src="{% static 'img/7.png' %}" alt="红色星火实践团普法微课" style="max-width: 100%; height: auto;">

</div>

<div class="ui hidden divider"></div>
<div class="ui grid">
    {% for item in video_list %}
    <div class="four wide column">
        <div class="ui card">
            <a class="image" href="{% url 'video:detail' item.pk %}">
                {% thumbnail item.cover "300x200" crop="center" as im %}
                <img class="ui image" src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}
                <i class="large play icon v-play-icon"></i>
            </a>
            <div class="content">
                <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>
                <div class="meta">
                    <span class="date">
                        {% if item.create_time %}
                        发布于 {{ item.create_time }}
                        {% else %}
                        刚刚
                        {% endif %}
                    </span>
                </div>
                <div class="description">
                    {{ item.view_count}}次观看
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <h3>暂无数据</h3>
    {% endfor %}

</div>

{% include "base/page_nav.html" %}


<div class="bottom-info">
    <img src="{% static 'img/4.png' %}" alt="校徽">
    <img src="{% static 'img/5.png' %}" alt="校徽">
    <img src="{% static 'img/6.png' %}" alt="校徽">
</div>


{% endblock content %}